<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id ="Questions" class = "Question">
<property name = "questionsId" value ="25" />
<property name = "question" value = "how are you" />
<property name = "answers" >
<list> 
<value>one two</value>
<value> hello</value>

</list>
</property>

<property name="setanswer">
<set>
<value>Java is object programming language</value>
<value>welcome java</value>
</set>
</property>

<property name="mapanswer">
<map>
<entry key = "1" ><value>I am </value></entry>
<entry key = "2"><value>Developed</value></entry>
</map>
</property>
</bean>
</beans>